.cartItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &p{
        margin: 0;
    }
}
.cartItemImg{
    border-radius: 10px;
    height: 80px;
}
.cartItemName{
    color: #b8860b;
}
.cartItemName, .cartItemQty, .cartItemPrice{
    width: 15%;
    margin: 0;
}
.cartItemQty, .cartItemPrice{
    font-size: 1.4rem;
}
button.FaTrashAlt{
    height: 45px;
    width: 45px;
    border-radius: 25px;
    transition:  0.3s all ease 0s;
    &:hover{
        transform: scale(1.1);
    }
}