.itemDetailImg {
    align-self: center;
    height: 500px;
    width: 500px;
    border-radius: 25px;
}
.itemInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.itemDetailTitle {
    margin-top: -1rem;
    color: darkgoldenrod;
    font-size: 2.5rem;
}
.itemDetailDesc {
    margin: auto;
    width: 90%
}
.itemDetailPrice{
    font-size: 1.2rem;
    & span {
        color: darkgoldenrod;
    }
}