.cartWidgetContainer{
    height: 51px!important;
    width: 51px!important;
    display: flex;
}
.CartWidget{
    align-self: center;
    font-size: 1.4rem;
    border-radius: 30px;
    padding: 0.4em 0.65em;
    background: rgba(187, 62, 62, 0.7);
    transition: 0.3s all ease 0s;
    width: max-content;
    &:hover{
        transform: scale(1.1);
        background: #bb3f3f;
    }
}
.CartWidget svg{
    padding-right: 2px;
    color: #dd9f00;
    cursor: pointer;
}