/* ----- HEADER ----- */


.headerContainer{
    padding: 0 20px;
    border-left: solid 2px #dd9f00;
    border-right: solid 2px #dd9f00;
    border-bottom: solid 2px #dd9f00;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    justify-content: space-between!important;
}
.brand{
    align-self: center;
    margin: 0 30px;
    font-size: 3rem!important;
    color: #dd9f00!important;
    font-weight: 700;
    font-style: italic;
    transition: 0.3s all ease 0s;
    text-decoration: none;
    text-shadow: -1px 3px 5px #797979;
    &:hover{
        transform: scale(1.05);
        text-shadow: -3px 3px 0px #bb3f3f;
        cursor: pointer;
        color: gold;
    }
}
.appHeader{
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
    margin: 0 2rem;
}
.nav-link{
    color: #bdbdbd!important;
    font-weight: 300;
}
.nav-link, .navbar-nav{
    margin: 0 20px;
}
.navbar-collapse{
    flex-grow: 0!important;
}
.dropdown-menu{
    border-radius: 20px!important;
    overflow: hidden;
    border-left: 1px solid #bb3f3f!important;
    border-right: 1px solid #bb3f3f!important;
    border-top: 5px solid #bb3f3f!important;
    border-bottom: 5px solid #bb3f3f!important;
}
.liContainer{
    text-align: center;
    transition: 0.2s all ease 0s;
    &:hover{
        background: #dd9f00!important;

    }
}
.liLinks{
    text-decoration: none;
    color: #272727;
    margin: auto;
}
#contactoButton{
    background-color: rgba(82, 82, 82, 0.7);
    font-weight: 700;
    color: #bdbdbd;
    text-decoration: none;
    align-self: center;
    border-radius: 20px;
    padding: 0.5em 0.75em;
    transition: 0.3s all 0s ease-in-out;
    border: 0;
    margin: 0 30px;
    transition: 0.3s all ease 0s;
    &:hover{
        transform: scale(1.1);
        background-color: rgb(82, 82, 82)
    }
}


/*----- FIN DE HEADER -----*/