@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

.app {
    font-family: 'quicksand';
    margin: 0;
    text-align: center;
    background: linear-gradient(25deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
    min-height: 100vh;
    list-style: none;
    list-style-type: none;
    color: #bdbdbd!important;
}


/* ----- HEADER ----- */

.headerContainer{
    padding: 0 20px;
    border-left: solid 2px #dd9f00;
    border-right: solid 2px #dd9f00;
    border-bottom: solid 2px #dd9f00;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.appHeader{
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
    margin: 0 2rem;
    justify-content: space-between;
}
.brand{
    align-self: center;
    font-size: 3rem!important;
    color: #dd9f00!important;
    font-weight: 700;
    font-style: italic;
    transition: 0.3s all ease 0s;
    text-decoration: none;
    text-shadow: -1px 3px 5px #797979;
}
.brand:hover{
    transform: scale(1.05);
    text-shadow: -3px 3px 0px #bb3f3f;
    cursor: pointer;
    color: gold;
}
.nav-link{
    color: #bdbdbd!important;
    font-weight: 300;
}
.link{
    color: #bdbdbd!important;
    font-weight: 300;
}
.dropdown-item:hover{
    background: #dd9f00!important;
}
#contactoButton{
    color: #bdbdbd;
    margin-left: 60px;
    text-decoration: none;
    align-self: center;
    border-right: 2px solid #dd9f00;
    border-left: 2px solid #dd9f00;
    border-radius: 20px;
    padding: 0.3em 0.5em;
    transition: 0.3s all 0s ease-in-out
}
#contactoButton:hover{
    transform: scale(1.1);
    border-right: 4px solid #bb3f3f;
    border-left: 4px solid #bb3f3f;
    cursor: po;
}
/*----- FIN DE HEADER -----*/